<style>
   .ir_device {
         background-color: tomato;
         color: white;
         border: 2px solid black;
         margin: 20px;
         padding: 20px;
   }
   
   .ir_command {
         margin: 10px;
         vertical-align: center;
         background-color: aliceblue;
         padding: 2px;
         display: inline-flex;
   }
   
   .ir_command_text {
      vertical-align: middle;
      padding: 10px;
   }
   
   .ir_command_button {
      padding: 5px;
   }   
   
   .ir_button {
      margin-bottom: 2px;
   }         
</style>

<div style="margin-top: 10px;"></div>

    
[#begin RESULT#]
   <div class="row">
      <div class="col-md-2 ir_device">[#TITLE#]</div>
   </div>
   <div class="row ir_command">
      <div class="ir_command_text">Команда на выполнение: TuyaIR('[#DEV_ID#]', 'Название клавиши');</div>
      <div class="ir_command_button">
         <a href="?id=[#ID#]&view_mode=delete_tudevices&tab=ir" onClick="return confirm('<#LANG_ARE_YOU_SURE#>');" class="btn btn-default" title="Удалить">
         <i class="glyphicon glyphicon-remove"></i></a>
      </div> 
      <div class="ir_command_button">
         <a href="?id=[#ID#]&view_mode=refresh_tudevices&tab=ir" class="btn btn-default" title="Перечитать">
         <i class="glyphicon glyphicon-refresh"></i></a>
      </div>          

   </div>
   <div class="row">
      <div class="col-md-12">
         [#begin CODES#]
            <div onClick="$.ajax({url: '/ajax/tuya.html?op=run_ir&dev_id=[#DEV_ID#]&id=[#ID#]'});" class="btn btn-default ir_button" title="[#TITLE#]" style="display:inline-block;">[#TITLE#]</div>
         [#end CODES#]
      </div>   
   </div>               
[#end RESULT#]
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
   <div class="form-group">
      <div class="col-lg-offset-3 col-lg-4">
         <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
         <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
         <input type="hidden" name="mode" value="update">
         <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
         <input type="hidden" name="tab" value="<#TAB#>">
      </div>
   </div>
</form>
