
<!-- Table 'xidevices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
   [#if OK#]
      <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
   [#endif OK#]
   [#if ERR#]
      <div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
   [#endif ERR#]
   <fieldset>
   [#if ID=""#]
      <legend><#LANG_NEW_RECORD#></legend>
   [#endif ID#]

   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_TITLE#>: (*)
      </label>
      <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
   </div>



   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_TYPE#>:
      </label>
      <div class="col-lg-4"><input type="text" class="form-control" name="type" value="[#TYPE#]" id="type"></div>
      <img src="[#DEV_ICON#]" height="40px" onerror="this.src='../templates/tuya/img/tuya.png'"> 
   </div>

   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_ID#] style="color:red;font-weight:bold"[#endif#]>
         Device ID:
      </label>
      <div class="col-lg-4"><input type="text" class="form-control" name="dev_id" value="[#DEV_ID#]" id="dev_id"></div>
   </div>

   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_MAC#] style="color:red;font-weight:bold"[#endif#]>
         Device MAC:
      </label>
      <div class="col-lg-4"><input type="text" class="form-control" name="mac" value="[#MAC#]" id="mac"></div>
   </div>

   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_LOCAL_KEY#] style="color:red;font-weight:bold"[#endif#]>
         Local Key:
      </label>
     <div class="col-lg-4"><input type="text" class="form-control" name="local_key" value="[#LOCAL_KEY#]" id="local_key"></div>
   </div>

   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_DEV_IP#] style="color:red;font-weight:bold"[#endif#]>
         Local IP:
      </label>
     <div class="col-lg-4"><input type="text" class="form-control" name="dev_ip" value="[#DEV_IP#]" id="dev_ip"></div>
   </div>

   <div class="form-group ">
    <label class="col-lg-4 control-label">Управлять: </label>
    <div class="col-lg-4">
     <input type="radio" name="control" value="0"[#if CONTROL=="0"#] checked[#endif#]> Через облако
     <input type="radio" name="control" value="1"[#if CONTROL=="1"#] checked[#endif#]> Локально
     <input type="radio" name="control" value="2"[#if CONTROL=="2"#] checked[#endif#]> Через MQTT
    </div>
   </div>
   
   <div class="form-group ">
    <label class="col-lg-4 control-label">Статус: </label>
    <div class="col-lg-4">
     <input type="radio" name="status" value="0"[#if STATUS=="0"#] checked[#endif#]> Через облако
     <input type="radio" name="status" value="1"[#if STATUS=="1"#] checked[#endif#]> Локально
     <input type="radio" name="status" value="2"[#if STATUS=="2"#] checked[#endif#]> Через MQTT

    </div>
   </div>

   <div class="form-group ">
    <label class="col-lg-4 control-label">Версия протокола: </label>
    <div class="col-lg-4">
      <select name="tuya_ver" value="[#TUYA_VER#]">
         <option [#if TUYA_VER=="3.1" #] selected[#endif#]>3.1</option>
         <option [#if TUYA_VER=="3.2" #] selected[#endif#]>3.2</option>
         <option [#if TUYA_VER=="3.3" #] selected[#endif#]>3.3</option>
         <option [#if TUYA_VER=="3.4" #] selected[#endif#]>3.4</option>
         <option [#if TUYA_VER=="3.5" #] selected[#endif#]>3.5</option>
      </select> 
    </div>
   </div>
   
   <div class="form-group ">
    <label class="col-lg-4 control-label">Посылать доп.пакет для изменения статуса: </label>
    <div class="col-lg-4">
      <input type="checkbox" name="send12" id="send12" value="1" [#if SEND12=='1'#]checked[#endif SEND12#]> 
      <input type="text" class="form-control" name="flags12" value="[#FLAGS12#]" id="flags12">
    </div>
   </div>

   
   <div class="form-group">
      <label class="col-lg-3 control-label"[#if ERR_UPDATED#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_UPDATED#>:
      </label>
      <div class="col-lg-8" style="padding: 5px 10px 0px 15px;">
         [#UPDATED#]
      </div>
   </div>



   <div class="form-group">
      <div class="col-lg-offset-3 col-lg-8">
         [#if ID!=""#]
            <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
         [#else ID#]
            <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
         [#endif ID#]
         <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
         <input type="hidden" name="id" value="<#ID#>">
         <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
         <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
         <input type="hidden" name="mode" value="update">
         <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
         <input type="hidden" name="tab" value="<#TAB#>">
      </div>
   </div>
   </fieldset>
</form>
